
nav.cad-navbar {
  background-color: $cad-mid-blue;
}

nav.cad-navbar .navbar-brand {
  background-color: white;
  margin-top: 20px;
  margin-left: -20px;
  padding: 15px;
  font-size: x-large;
  font-weight: bold;
  border-radius: 100px;
  border: 1px solid #3d69a7;
  z-index: 1000;
  position: fixed;
  
  -webkit-animation: brand-fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: brand-fadein 2s; /* Firefox < 16 */
  -ms-animation: brand-fadein 2s; /* Internet Explorer */
  -o-animation: brand-fadein 2s; /* Opera < 12.1 */
  animation: brand-fadein 2s;
}

nav.cad-navbar .cad-slogan {
  width: 300px;
  margin-left: 17rem;
  
  p {
    margin-bottom: 0;
  }
}

@keyframes brand-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes brand-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes brand-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes brand-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes brand-fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

nav.cad-navbar .navbar-brand.cad-nav-menu-open {
  position: inherit;
  margin-top: 6px;
}

nav.cad-navbar .nav-item .nav-link {
  color: white;
}


