
header.cad-tagline {
  display: block;
  background-color: $cad-green;
  color: white;
  margin-top: 3rem;
}

header.cad-tagline h2 {
  font-size: 1rem;
  width: 80%;
  margin: 3rem auto 2rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  header.cad-tagline {
    margin-top: 4rem;
  }

  header.cad-tagline h2 {
    font-size: 1.5rem;
    width: 50%;
    margin-top: 2rem auto;
  }
}