---
layout: default
---

<div class="cad-mosaic-container">
  <section id="impacts" class="tiles">
    <div class="cad-mosaic-header">
      <header class="major">
        <h3>&rsaquo;&rsaquo; The impacts of climate change</h3>
      </header>
    </div>
  </section>
  <section id="one" class="tiles">
    <article style="background-image: url('/uploads/darwin-cbd-night-skyline.jpg')">
      <a href="/handbook/our-changing-climate" aria-label="Our changing climate" class="link primary">
        <header class="major">
          <h3>Our changing climate</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/people-on-beach.jpg')">
      <a href="/handbook/top-end-impacts" aria-label="Top End impacts" class="link primary">
        <header class="major">
          <h3>Top End impacts</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/ecological-impacts.jpg')">
      <a href="/handbook/ecological-impacts" aria-label="Ecological impacts" class="link primary">
        <header class="major">
          <h3>Ecological impacts</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/tourism.jpg')">
      <a href="/handbook/health-impacts" aria-label="Health impacts" class="link primary">
        <header class="major">
          <h3>Health impacts</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/land-use.jpg')">
      <a href="/handbook/economic-impacts" aria-label="Economic impacts" class="link primary">
        <header class="major">
          <h3>Economic impacts</h3>
        </header>
      </a>
    </article>
    <article></article>
  </section>
  <section id="individual-solutions" class="tiles">
    <div class="cad-mosaic-header">
      <header class="major">
        <h3>&rsaquo;&rsaquo; Solutions for individuals</h3>
      </header>
    </div>
  </section>
  <section id="two" class="tiles">
    <article style="background-image: url('/uploads/ichthys.png')">
      <a href="/handbook/where-do-our-emissions-come-from" aria-label="Where do our emissions come from?" class="link primary">
        <header class="major">
          <h3>Where do our emissions come from?</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/people-on-beach.jpg')">
      <a href="/handbook/solutions-for-the-individual" aria-label="What can I do?" class="link primary">
        <header class="major">
          <h3>What can I do?</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/the-food-we-eat.jpg')">
      <a href="/handbook/the-food-we-eat" aria-label="The food we eat" class="link primary">
        <header class="major">
          <h3>The food we eat</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/solar-panels.jpg')">
      <a href="/handbook/solar-energy-at-home" aria-label="Solar energy at home" class="link primary">
        <header class="major">
          <h3>Solar energy at home</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/plant-fence.jpg')">
      <a href="/handbook/divestment-for-individuals" aria-label="Divestment for individuals" class="link primary">
        <header class="major">
          <h3>Divestment for individuals</h3>
        </header>
      </a>
    </article>
    <article></article>
  </section>
  <section id="big-picture-solutions" class="tiles">
    <div class="cad-mosaic-header">
      <header class="major">
        <h3>&rsaquo;&rsaquo; Big picture solutions</h3>
      </header>
    </div>
  </section>
  <section id="three" class="tiles">
    <article style="background-image: url('/uploads/binding-emissions-reductions.jpg')">
      <a href="/handbook/binding-emissions-reductions-targets" aria-label="Binding emissions reductions targets" class="link primary">
        <header class="major">
          <h3>Binding emissions reductions targets</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/climate-justice-nt-parliament.jpg')">
      <a href="/handbook/climate-justice-and-indigenous-rights" aria-label="Climate justice and Indigenous rights" class="link primary">
        <header class="major">
          <h3>Climate justice and Indigenous rights</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/indigenous-carbon.jpg')">
      <a href="/handbook/the-indigenous-carbon-industry" aria-label="The Indigenous carbon industry" class="link primary">
        <header class="major">
          <h3>The Indigenous carbon industry</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/renewable-energy-solar-array.jpg')">
      <a href="/handbook/renewable-energy-and-repowernt" aria-label="Renewable energy and RepowerNT" class="link primary">
        <header class="major">
          <h3>Renewable energy and RepowerNT</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/climate-emergency-coastline.jpg')">
      <a href="/handbook/climate-emergency-declarations" aria-label="Climage emergency declarations" class="link primary">
        <header class="major">
          <h3>Climate emergency declarations</h3>
        </header>
      </a>
    </article>
    <article style="background-image: url('/uploads/emissions-trading-schemes.jpg')">
      <a href="/handbook/emissions-trading-schemes" aria-label="Emissions trading schemes" class="link primary">
        <header class="major">
          <h3>Emissions trading schemes</h3>
        </header>
      </a>
    </article>
  </section>
</div>